@model List<MyPortfolioProject.Models.Category>
@{
    Layout = "~/Views/Admin/Index.cshtml";
    string durum = "";

}

<h2 class="mb-4">Mesaj Kategorileri Listesi</h2>


    <table class="table table-bordered">
        <tr>
            <th>Kategori ID</th>
            <th>Kategori Adı</th>
            <th>Kategori Durumu</th>
            <th> </th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

        @foreach (var item in Model)
        {

            if(item.Status==true)
            {
                durum = "Aktif";
            }
            else
            {
                durum = "Pasif";
            }

            <tr>
                <td>@item.CategoryId</td>


                <td>@item.CategoryName</td>

                <td>@durum</td>


                @if (item.Status == false)
                {
                    <td><a href="/Category/ChangeCategoryStatusToTrue/@item.CategoryId" class="btn btn-outline-success">Aktif yap</a></td>
                }
                else
                {
                    <td><a href="/Category/ChangeCategoryStatusToFalse/@item.CategoryId" class="btn btn-outline-dark">Pasif Yap</a></td>
                }


                <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Category/CreateCategory/" class="btn btn-info">Kategori Ekle</a>

