﻿@model MyPortfolioProject.Models.Testimonial
@{
    ViewBag.Title = "TestimonialCreate";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yeni Referans Ekleme Sayfası</h2>

<form method="post">

    <label>İsim Soyisim</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Adres</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Resim</label>
    @Html.TextAreaFor(x => x.Image, new { @class = "form-control" })
    <br />

    <button class="btn btn-info"> Referans Oluştur</button>
</form>