<div class="col-12 wow fadeInUp" data-wow-delay="0.5s">
    <div class="rounded">
        <iframe class="rounded w-100"
                style="height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48165.983177316346!2d28.875620580664293!3d41.017074047155106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab0abafe5d4c1%3A0x44361327b10bbc5e!2sRahmi%20M.%20Ko%C3%A7%20Museum!5e0!3m2!1sen!2str!4v1728063094959!5m2!1sen!2str"
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
