@model List<MyPortfolioProject.Models.Contact>
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Tarih</th>
        <th>Konu</th>
        <th>Durum</th>
        <th>Mesajı Aç</th>
        <th>Mesajı Sil</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.NameSurname</td>
            <td>@item.SendDate</td>
            <td>@item.Subject</td>
            @if (item.IsRead == false)
            {
                <td><a href="/Message/ChangeMessageStatusToTrue/@item.ContactId" class="btn btn-outline-success">Okundu Olarak işaretle </a></td>
            }
            else
            {
                <td><a href="/Message/ChangeMessageStatusToFalse/@item.ContactId" class="btn btn-outline-dark">Okunmadı Olarak işaretle </a></td>
            }
            <td><a href="/Message/DeleteMessage/@item.ContactId" class="btn btn-warning">Mesajı Aç</a></td>
            <td><a href="/Message/UpdateMessage/@item.ContactId" class="btn btn-danger">Mesajı Sil</a></td>
        </tr>
    }
</table>

